.first_section {
    background-image: url("../img/backgrounds/h_img.jpg");
    background-size: cover;
    height: 700px;
    text-align: center;
    color: white;
    font-size: 100%;
}

#logo {
    margin-top: 200px;
}

#services_title {
    padding-top: 300px;
}

.services {
    background-image: url("../img/backgrounds/s_image.jpg");
    height:700px;
    background-size: cover;
    color: white;
    text-align: center;
}

.contacts {
    background-image: url("../img/backgrounds/c_image.jpg");
    background-size: cover;
    height: max-content;
    text-align: center;
}
.whatWeDo image:hover {
    cursor: pointer,
}
.whatWeDo image:hover {
    cursor: pointer,
}

h1{
    text-align: center;
    cursor: pointer;
}

.portfolio:hover {
background-color: teal;

}

